@import url(http://fonts.googleapis.com/css?family=Roboto+Slab|Inter|Open+Sans:400italic,700italic,400,700);

$roboto-slab: "Roboto Slab", serif;
$open-sans: "Open Sans", sans-serif;
$inter: "inter", sans-serif;

$content-width: 1000px;
$breakpoint: 799px;
$nav-height: 70px;
$nav-background: rgb(25, 57, 121);
$nav-font-color: #0c0c0c;
$link-hover-color: #f8b500;

html,
body {
	width: 100%;
	height: 100%;
}

* {
	font-family: $inter;
}

#intro {
	box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
		rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}

.intro {
	img {
		height: 92vh;
		width: min-content;
	}
}

.sec {
	height: fit-content;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url("./img/bg.svg");
}

.navigation {
	font-family: $inter;
	font-size: 120%;
	height: $nav-height;
	background: $nav-background;
	margin-bottom: 10px;
	box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
		rgba(17, 17, 26, 0.05) 0px 8px 32px;

	a {
		color: white;
	}
}

.nav-container {
	max-width: $content-width;
	margin: 0 auto;
}

h2 {
	font-family: $inter;
}

#whatIam {
	margin-top: 10px;
	box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
		rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

#whatIamTitle {
	font-family: $inter;
	color: rgb(255, 255, 255);
}

.container,
.row {
	border-radius: 10px;
}

.brand {
	position: absolute;
	padding-left: 20px;
	float: left;
	line-height: $nav-height;
	text-transform: uppercase;
	font-size: 1.4em;

	a,
	a:visited {
		color: $nav-font-color;
		text-decoration: none;
	}
}

nav {
	float: right;
	background-color: transparent;
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		li {
			float: left;
			position: relative;
			a {
				display: block;
				padding: 10px 20px 0 20px;
				line-height: 50px;
				background: $nav-background;
				color: $nav-font-color;
				text-decoration: none;
				&:hover {
					color: rgb(158, 253, 213);
				}

				&::before {
					transition: 300ms;
					height: 5px;
					content: "";
					position: absolute;
					background-color: $link-hover-color;
					width: 0%;
					bottom: 0px;
				}

				&:hover::before {
					width: 70%;
				}
				&:not(:only-child):after {
					padding-left: 4px;
					content: " ▾";
				}
			} // Dropdown list
			ul li {
				min-width: 190px;
				a {
					padding: 15px;
					line-height: 20px;
				}
			}
		}
	}
}

.nav-dropdown {
	display: none;
	position: absolute;
	z-index: 1;
	box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}

.nav-mobile {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	background: $nav-background;
	height: $nav-height;
	width: $nav-height;
}

@media only screen and (max-width: $breakpoint) {
	.nav-mobile {
		display: block;
	}
	nav {
		width: 100%;
		padding: $nav-height 0 15px;
		ul {
			display: none;

			li {
				float: none;

				a {
					padding: 15px;
					line-height: 20px;

					&:hover::before {
						width: 20%;
					}
				}
				ul li a {
					padding-left: 30px;
				}
			}
		}
	}
	.nav-dropdown {
		position: static;
	}
}

#nav-toggle {
	position: absolute;
	left: 18px;
	top: 22px;
	cursor: pointer;
	padding: 10px 35px 16px 0px;
	span,
	span:before,
	span:after {
		cursor: pointer;
		border-radius: 1px;
		height: 5px;
		width: 35px;
		background: $link-hover-color;
		position: absolute;
		display: block;
		content: "";
		transition: all 300ms ease-in-out;
	}
	span:before {
		top: -10px;
	}
	span:after {
		bottom: -10px;
	}
	&.active span {
		background-color: transparent;
		&:before,
		&:after {
			top: 0;
		}
		&:before {
			transform: rotate(45deg);
		}
		&:after {
			transform: rotate(-45deg);
		}
	}
}

@media screen and (min-width: $breakpoint) {
	.nav-list {
		display: block !important;
	}
}

#banner {
	animation: fade-backward 1s ease 0s 1 alternate none;
	filter: blur(0.7px);
	object-fit: cover;
	max-width: 100%;
	height: 100%;
	box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

#pfp {
	border-radius: 15px;
}

#introduction {
	font-family: $inter;
	text-align: left;
	text-align: justify;
	margin: 10px;
	padding: 10px;
}

@keyframes fade-backward {
	0% {
		opacity: 0;
		transform: scale(1.4);
	}

	100% {
		opacity: 1;
		transform: scale(1);
	}
}

@media (min-width: 768px) {
	#introduction {
		font-size: 21px;
	}
}

@media (max-width: 767px) {
	#introduction {
		font-size: 16px;
	}

	#pfp {
		height: 310px;
		width: 360px;
	}

	#banner {
		height: 150px;
		width: 350px;
	}
}

@media (max-width: 375px) {
	#pfp {
		height: 280px;
		width: 340px;
	}
}

.carousel-control-next,
.carousel-control-prev {
	filter: invert(100%);
}

.carousel-caption p {
	color: rgb(0, 0, 0);
}
.carousel-caption h5 {
	color: rgb(0, 0, 0);
}

#btnSport {
	p {
		margin-top: 20px;
		float: left;
		color: white;
		text-transform: uppercase;
		font-size: 35px;
	}
	font-size: 28px;
	transition: all 0.2s ease-in-out;
	border-radius: 15px;
	height: 100px;
	width: 250px;
	background: url("./img/tennisWallpaper.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

#btnSport:hover {
	transform: scale(1.2);
}

#btnEducation {
	p {
		margin-top: 20px;
		color: white;
		text-transform: uppercase;
		font-size: 35px;
	}

	font-size: 28px;
	transition: all 0.2s ease-in-out;
	border-radius: 15px;
	height: 100px;
	width: 250px;
	background: url("./img/study.JPG");
	background-size: cover;
	background-repeat: no-repeat;
}

#btnEducation:hover {
	transform: scale(1.2);
}

#btnProjects {
	p {
		margin-top: 20px;
		color: white;
		text-transform: uppercase;
		font-size: 35px;
	}

	font-size: 28px;
	transition: all 0.2s ease-in-out;
	border-radius: 15px;
	height: 100px;
	width: 250px;
	background: url("./img/bgProjects.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

#btnProjects:hover {
	transform: scale(1.2);
}

#cardContact {
	box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
		rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
	max-width: 30rem;
}

.title-contact {
	font-family: $inter;
}

#btnContact {
	width: 50%;
}

#contactIcon {
	margin: 0px 10px;
}

.collapseEdu {
	outline: 1px solid black;
	button {
		margin: 0 10px;
	}
}

$color_1: #36395a;
$font-family_1:$inter;
$background-color_1: #fcfcfd;

#btnSport,
#btnEducation,
#btnProjects {
	align-items: center;
	appearance: none;
	background-color: $background-color_1;
	border-radius: 10px;
	border-width: 0;
	box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
		rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
	box-sizing: border-box;
	color: $color_1;
	cursor: pointer;
	display: inline-flex;
	font-family: $inter;
	justify-content: center;
	line-height: 1;
	list-style: none;
	overflow: hidden;
	padding-left: 16px;
	padding-right: 16px;
	position: relative;
	text-align: left;
	text-decoration: none;
	transition: box-shadow 0.15s, transform 0.15s;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	white-space: nowrap;
	will-change: box-shadow, transform;
	font-size: 18px;
	&:focus {
		box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
			rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
	}
	&:hover {
		box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
			rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
		transform: translateY(-5px);
	}
	&:active {
		box-shadow: #d6d6e7 0 3px 7px inset;
		transform: translateY(5px);
	}
}

$color_1: #422800;
$background-color_1: #fbeee0;
$background-color_2: #fff;

#eduBtn {
	background-color: $background-color_1;
	border: 2px solid #422800;
	border-radius: 30px;
	box-shadow: #422800 4px 4px 0 0;
	color: $color_1;
	cursor: pointer;
	display: inline-block;
	font-weight: 600;
	font-size: 18px;
	padding: 0 18px;
	line-height: 50px;
	text-align: center;
	text-decoration: none;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	&:hover {
		background-color: $background-color_2;
	}
	&:active {
		box-shadow: #422800 2px 2px 0 0;
		transform: translate(2px, 2px);
	}
}
@media (min-width: 768px) {
	#eduBtn {
		min-width: 120px;
		padding: 0 25px;
	}
}

#olDesc {
	text-align: left;
}

#carouselMCSlide {
	width: 350px;
}

#textProjects {
	font-size: 120%;
}

.footerText {
	font-style: initial;
}

#learning {
	padding: 10px;
	box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
		rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.footerCol {
	a {
		:hover {
			color: rgb(96, 96, 207);
		}
	}
}
